<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="VaxCheck">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="apple-touch-icon" sizes="20x20" href="icons/vaxcheck-20.png">
    <link rel="apple-touch-icon" sizes="29x29" href="icons/vaxcheck-29.png">
    <link rel="apple-touch-icon" sizes="40x40" href="icons/vaxcheck-40.png">
    <link rel="apple-touch-icon" sizes="50x50" href="icons/vaxcheck-50.png">
    <link rel="apple-touch-icon" sizes="57x57" href="icons/vaxcheck-57.png">
    <link rel="apple-touch-icon" sizes="58x58" href="icons/vaxcheck-58.png">
    <link rel="apple-touch-icon" sizes="60x60" href="icons/vaxcheck-60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/vaxcheck-72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icons/vaxcheck-76.png">
    <link rel="apple-touch-icon" sizes="80x80" href="icons/vaxcheck-80.png">
    <link rel="apple-touch-icon" sizes="87x87" href="icons/vaxcheck-87.png">
    <link rel="apple-touch-icon" sizes="100x100" href="icons/vaxcheck-100.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/vaxcheck-114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="icons/vaxcheck-120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="icons/vaxcheck-144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="icons/vaxcheck-152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="icons/vaxcheck-167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/vaxcheck-180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="icons/vaxcheck-1024.png">

    <link rel="icon" sizes="20x20" href="icons/vaxcheck-20.png">
    <link rel="icon" sizes="29x29" href="icons/vaxcheck-29.png">
    <link rel="icon" sizes="40x40" href="icons/vaxcheck-40.png">
    <link rel="icon" sizes="50x50" href="icons/vaxcheck-50.png">
    <link rel="icon" sizes="57x57" href="icons/vaxcheck-57.png">
    <link rel="icon" sizes="58x58" href="icons/vaxcheck-58.png">
    <link rel="icon" sizes="60x60" href="icons/vaxcheck-60.png">
    <link rel="icon" sizes="72x72" href="icons/vaxcheck-72.png">
    <link rel="icon" sizes="76x76" href="icons/vaxcheck-76.png">
    <link rel="icon" sizes="80x80" href="icons/vaxcheck-80.png">
    <link rel="icon" sizes="87x87" href="icons/vaxcheck-87.png">
    <link rel="icon" sizes="100x100" href="icons/vaxcheck-100.png">
    <link rel="icon" sizes="114x114" href="icons/vaxcheck-114.png">
    <link rel="icon" sizes="120x120" href="icons/vaxcheck-120.png">
    <link rel="icon" sizes="144x144" href="icons/vaxcheck-144.png">
    <link rel="icon" sizes="152x152" href="icons/vaxcheck-152.png">
    <link rel="icon" sizes="167x167" href="icons/vaxcheck-167.png">
    <link rel="icon" sizes="180x180" href="icons/vaxcheck-180.png">
    <link rel="icon" sizes="1024x1024" href="icons/vaxcheck-1024.png">

    <link rel="icon" type="image/ico" href="favicon.ico">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
